.motion-part__chat {
  width: 10rem;
  height: 4.8rem;
  background-color: #fff;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  box-shadow: 0 0 5px rgb(0 0 0 / 20%);
}

.motion-part__chat__main {
  width: 100%;
  height: 100%;
  padding: 1.2rem;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.motion-part__chat__main__icon {
  fill: #ee4d2d;
  width: 2.4rem;
  height: 2.4rem;
}

.motion-part__chat__main__text {
  fill: #ee4d2d;
  width: 4.4rem;
  height: 2.2rem;
}

.motion-part__chat__popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 0.8rem;
  background-color: #fff;
  border-radius: 4px 4px 0 0;
  box-shadow: 0 4px 20px 0 rgb(74 74 78 / 16%);
  width: 22.2rem;
  height: 38.6rem;
}

.motion-part__chat__popup__header {
  height: 4rem;
  padding: 0 1.2rem;
  box-shadow: 0 1px 4px 0 rgb(0 0 0 / 8%);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.motion-part__chat__popup__header__right-icons {
  display: flex;
  align-items: center;
}

.motion-part__chat__popup__header__right-icons > svg:nth-child(1) {
  display: block;
  width: 1.6rem;
  height: 1.6rem;
  margin-right: 1.6rem;
  cursor: pointer;
}

.motion-part__chat__popup__header__right-icons > svg:nth-child(2) {
  display: none;
  width: 1.6rem;
  height: 1.6rem;
  margin-right: 1.6rem;
  cursor: pointer;
}

.motion-part__chat__popup__header__right-icons > svg:nth-child(3) {
  display: block;
  width: 1.6rem;
  height: 1.6rem;
  cursor: pointer;
}

.motion-part__chat__popup__container {
  display: flex;
  justify-content: space-between;
  height: 34.4rem;
}

.motion-part__chat__popup__expanded {
  display: none;
  height: 100%;
  width: 28.5rem;
  border-right: 1px solid #e4e6e8;
}

.motion-part__chat__popup__expanded__img {
  display: block;
  width: 16rem;
  height: 14.2rem;
  margin: 8.4rem auto 0;
}

.motion-part__chat__popup__expanded__text {
  display: block;
  font-size: 14px;
  line-height: 18px;
  color: #333;
  text-align: center;
  margin-top: 0.8rem;
}

.motion-part__chat__popup__main {
  height: calc(100% - 4rem);
  width: 22.2rem;
}

.motion-part__chat__popup__main__search-and-options {
  height: 4rem;
  padding: 0.8rem 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.motion-part__chat__popup__main__search-and-options > input {
  border: none;
  width: 13.2rem;
  height: 100%;
  padding-left: 2.4rem;
  color: #333;
  font-size: 1.2rem;
  background-color: #f4f4f6;
  border-radius: 2px;
  outline: none;
}

.motion-part__chat__popup__main__search-and-options > svg {
  display: block;
  width: 14px;
  height: 14px;
  color: #bbb;
  fill: #bbb;
  position: absolute;
  top: 5.4rem;
  right: 19rem;
}

.motion-part__chat__popup__main__search-and-options__part {
  display: flex;
  align-items: center;
}

.motion-part__chat__popup__main__search-and-options__text {
  color: #333;
  font-size: 1.2rem;
  line-height: 1.5rem;
  font-weight: 700;
}

.motion-part__chat__popup__main__search-and-options__part > svg {
  width: 12px;
  height: 12px;
  margin-left: 4px;
  color: #333;
}

.motion-part__chat__popup__main__search-and-options__part:hover {
  cursor: pointer;
}

.motion-part__chat__popup__main__search-and-options__popup {
  display: none;
  width: 8.4rem;
  height: 9.8rem;
  position: absolute;
  top: 7.2rem;
  right: 1rem;
  background-color: #fff;
  box-shadow: 0 4px 20px 0 rgb(0 0 0 / 10%);
}

.motion-part__chat__popup__main__search-and-options__popup > div {
  width: 100%;
  height: 3.3rem;
  padding: 0.8rem 1.6rem;
  color: #555;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
}

.motion-part__chat__popup__main__search-and-options__popup > div:hover {
  background-color: #f5f5f5;
  cursor: pointer;
}

.motion-part__chat__popup__main__content {
  height: calc(100% - 4rem);
}

.motion-part__chat__popup__main__content--all {
  height: 4.8rem;
  padding: 0.8rem 1.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.motion-part__chat__popup__main__content--all:hover {
  background-color: #ebedf1;
  cursor: pointer;
}

.motion-part__chat__popup__main__content--all__img {
  display: block;
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 2px;
}

.motion-part__chat__popup__main__content--all__content {
  height: 100%;
  width: 15.6rem;
  margin-left: 1rem;
}

.motion-part__chat__popup__main__content--all__name {
  color: #333;
  font-size: 1.3rem;
  line-height: 1.5rem;
  font-weight: 700;
}

.motion-part__chat__popup__main__content--all__message {
  height: 1.4rem;
  color: #bbb;
  font-size: 1.2rem;
  line-height: 1.4rem;
  margin-top: 0.3rem;
  display: flex;
}

.motion-part__chat__popup__main__content--all__message > span:nth-child(1) {
  display: block;
  width: 10.8rem;
  color: #888;
  font-size: 1.2rem;
  line-height: 1.4rem;
  margin-right: 0.4rem;
  height: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.motion-part__chat__popup__main__content--all__message > span:nth-child(2) {
  height: 100%;
  color: #bbb;
  font-size: 1.2rem;
  line-height: 1.4rem;
}

.motion-part__chat__popup__main__content--unread {
  display: none;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  height: 10.2rem;
  margin-top: 8rem;
}

.motion-part__chat__popup__main__content--unread > img {
  display: block;
  width: 12rem;
  height: 8rem;
  margin: 0 auto 0.8rem;
}

.motion-part__chat__popup__main__content--unread > span {
  height: 1.4rem;
  color: #333;
  font-size: 12px;
  line-height: 1.4rem;
}

.motion-part__chat__popup__main__content--pinned {
  display: none;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  height: 10.2rem;
  margin-top: 8rem;
}

.motion-part__chat__popup__main__content--pinned > img {
  display: block;
  width: 12rem;
  height: 8rem;
  margin: 0 auto 0.8rem;
}

.motion-part__chat__popup__main__content--pinned > span {
  height: 1.4rem;
  color: #333;
  font-size: 12px;
  line-height: 1.4rem;
}
