.footer__directory {
    background-color: #fff;
    width: calc(100% - 5.6rem);
    height: 104.8rem;
    padding: 6rem 0 1rem;
    margin: 0 2.8rem;
    border-top: 1px solid rgba(0, 0, 0, 0.09);
}
.footer__directory__heading {
    display: block;
    color: rgba(0, 0, 0, 0.54);
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.7rem;
    text-align: left;
    margin: 0 0 2rem 0.4rem;
}
.footer__directory__list {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
}
.footer__directory__item {
    width: 24.2rem;
    padding-right: 0.5rem;
}
.footer__directory__item__part:not(:first-child) {
    margin-top: 1rem;
}
.footer__directory__item__part__heading {
    color: rgba(0, 0, 0, 0.54);
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1.4rem;
    padding: 0 0.4rem;
}
.footer__directory__item__part__heading:hover {
    color: rgb(238, 77, 45);
}
.footer__directory__item__part__list {
    margin-top: 0.4rem;
}
.footer__directory__item__part__item {
    display: inline-block;
    color: rgba(0, 0, 0, 0.54);
    padding: 0 0.4rem;
    line-height: 1.4rem;
    font-size: 1.2rem;
    font-weight: 400;
    max-height: 1.4rem;
    max-width: calc(100% - 0.5rem);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.footer__directory__item__part__item:not(:last-child) {
    border-right: 1px solid rgba(0, 0, 0, 0.54);
}
.footer__directory__item__part__item:hover {
    color: rgb(238, 77, 45);
}
