.footer__policy-terms {
    color: rgba(0, 0, 0, 0.65);
    padding: 4.2rem 2rem 3.8rem;
    background: #f5f5f5;
}
.footer__policy-terms__part__title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;
}
.footer__policy-terms__part__title__part {
    padding: 0 2.5rem;
}
.footer__policy-terms__part__title__part:not(:last-child) {
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}
.footer__policy-terms__part__title__link {
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5rem;
    color: rgba(0, 0, 0, 0.54);
}
.footer__policy-terms__part__certificate {
    display: flex;
    justify-content: center;
}
.footer__policy-terms__part__certificate__link:nth-child(1),
.footer__policy-terms__part__certificate__link:nth-child(2) {
    display: block;
    width: 15rem;
    height: 5rem;
}
.footer__policy-terms__part__certificate__link:nth-child(3) {
    display: block;
    width: 8rem;
    height: 5rem;
}
.footer__policy-terms__part__certificate__link > img {
    display: block;
    width: 100%;
    height: 100%;
}
.footer__policy-terms__part__company-info__text {
    display: block;
    text-align: center;
    font-size: 1.2rem;
    margin-top: 0.8rem;
}
.footer__policy-terms__part__company-info__text:first-child {
    margin-bottom: 2.5rem;
}
