.gift-banner {
    width: 120rem;
    height: 11rem;
    margin: 2rem auto 0;
}
.gift-banner__part {
    width: 100%;
    height: 100%;
}
.gift-banner__part__img {
    display: block;
    height: 100%;
    width: 100%;
    cursor: pointer;
}
