#login-page {
  /* display: none; */
}
.login-page__header {
  width: 100%;
  height: 8.4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 4rem;
  background-color: #fff;
}
.login-page__header-shopee {
  height: 3.4rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 0.8rem;
}
.login-page__header-shopee__link {
  display: flex;
  width: 17.2rem;
}
.login-page__header-shopee__link > svg {
  fill: #ee4d2d;
  width: 19rem;
  height: 4.2rem;
}
.login-page__header-shopee__text {
  color: #222;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 2.8rem;
  margin-left: -1rem;
}
.login-page__header-need-help-btn {
  color: #ee4d2d;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.68rem;
  margin-right: 0.8rem;
  cursor: pointer;
}

.login-page__content {
  width: 100%;
  height: 60rem;
  background-color: rgb(238, 77, 45);
  padding: 0 11rem 0 11rem;
}
.login-page__content-part {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.login-page__content-form {
  width: 39.8rem;
  height: 48.2rem;
  background-color: #fff;
  border-radius: 3px;
}
.login-page__content-form__heading {
  margin: 0.6rem 0;
  height: 6.8rem;
  padding: 0 3rem;
  color: #222;
  font-size: 2rem;
  font-weight: 400;
  line-height: 2.4rem;
  display: flex;
  align-items: center;
}
.login-page__content-form__part {
  width: 100%;
  height: 34.8rem;
  padding: 0 3rem 3rem 3rem;
  position: relative;
}
.login-page__content-form__notify-error {
  height: 7.6rem;
  padding: 1.2rem 1.5rem;
  background-color: #fff9fa;
  border: 1px solid rgba(255, 66, 79, 0.2);
  border-radius: 2px;
  display: none;
  /* display: flex; */
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 2.6rem;
}
.login-page__content-form__notify-error__icon {
  display: flex;
  align-items: flex-start;
  margin-right: 1rem;
  height: 5rem;
  width: 1.6rem;
}
.login-page__content-form__notify-error__icon > svg {
  color: #ff424f;
  width: 1.6rem;
  height: 1.6rem;
}
.login-page__content-form__notify-error__text {
  display: block;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.8px;
  color: rgb(34, 34, 34);
  height: 5rem;
  width: 27.4rem;
}

.login-page__content-form__first-input-part {
  height: 6rem;
  width: 100%;
}
.login-page__content-form__first-input {
  width: 100%;
  height: 4rem;
  padding: 1.2rem;
  border: 0.2px solid rgba(0, 0, 0, 0.14);
  border-radius: 2px;
  box-shadow: inset 0 2px 0 rgb(0 0 0 / 2%);
  font-size: 1.4rem;
  font-weight: 400;
  line-height: normal;
  color: rgba(0, 0, 0, 0.8);
}

.login-page__content-form__first-input-part--invalid,
.login-page__content-form__second-input-part--invalid {
  display: none;
  color: #ff424f;
  font-size: 12px;
  font-weight: 400;
  line-height: 2rem;
}
.login-page__content-form__first-input--invalid {
  outline: #ff424f;
  border-color: #ff424f;
  background-color: #fff6f7;
}
.login-page__content-form__second-input--invalid {
  outline: #ff424f;
  background-color: #fff6f7;
}
.login-page__content-form__second-input-main--invalid {
  border-color: #ff424f !important;
}
.login-page__content-form__second-input-part {
  height: 6rem;
  width: 100%;
}
.login-page__content-form__second-input-main {
  height: 4rem;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.14);
  border-radius: 2px;
  box-shadow: inset 0 2px 0 rgb(0 0 0 / 2%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
  position: relative;
}
.login-page__content-form__second-input {
  display: block;
  height: 100%;
  width: 100%;
  padding: 1.2rem;
  border: none;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: normal;
  color: rgba(0, 0, 0, 0.8);
}
.login-page__content-form__second-input-status-btn {
  background-color: transparent;
  border: none;
  outline: none;
  padding: 2px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 1.5rem;
  transform: translateY(-50%);
}
.login-page__content-form__second-input-status-btn__showing {
  display: none;
  width: 2rem;
  height: 1.2rem;
}
.login-page__content-form__second-input-status-btn__hiding {
  width: 2rem;
  height: 1.6rem;
  padding-top: 5px;
}
.login-page__content-form__login-btn {
  margin-top: 1.4rem;
  width: 100%;
  height: 4rem;
  color: #fff;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.68rem;
  border: none;
  border-radius: 2px;
  box-shadow: 0 1px 1px rgb(0 0 0 / 9%);
  background-color: #ee4d2d;
  opacity: 0.7;
  cursor: not-allowed;
}

.login-page__content-form__under-login-btn {
  height: 1.4rem;
  margin: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.login-page__content-form__under-login-btn > button {
  color: #05a;
  font-size: 1.2rem;
  font-weight: 500;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.login-page__content-form__separate-part {
  height: 1.4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  margin-bottom: 1.5rem;
}
.login-page__content-form__separate-part > div:nth-child(1),
.login-page__content-form__separate-part > div:nth-child(3) {
  width: 13.5rem;
  height: 0.5px;
  background-color: #dbdbdb;
}
.login-page__content-form__separate-part__text {
  color: #ccc;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.44rem;
}
.login-page__content-form__other-ways {
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  margin-bottom: 3rem;
}
.login-page__content-form__other-ways > button {
  cursor: pointer;
  padding: 0;
  border: 0;
}
.login-page__content-form__other-ways__facebook {
  width: 11rem;
}
.login-page__content-form__other-ways__apple,
.login-page__content-form__other-ways__google {
  width: 10.4rem;
}
.login-page__content-form__other-ways > button > img {
  display: block;
  width: 100%;
  height: 100%;
}
.login-page__content-form__ask-for-register {
  width: 100%;
  height: 1.66rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.68rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-page__content-form__ask-for-register__text {
  color: rgba(0, 0, 0, 0.2);
}
.login-page__content-form__ask-for-register__register-btn {
  color: #ee4d2d;
  font-weight: 500;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
