.footer__link {
    background-color: rgb(251, 251, 251);
    width: 100%;
    padding: 4.8rem 3.2rem 0;
}
.footer__link__about {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.09);
}
.footer__link__about__part {
    width: 24rem;
}
.footer__link__about__item > div:nth-child(2) {
    margin-top: 2rem;
}
.footer__link__about__heading {
    color: rgba(0, 0, 0, 0.54);
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1.4rem;
}
.footer__link__about-text-CSKH > div,
.footer__link__about-text-VeShopee > div {
    margin-bottom: 1.2rem;
}
.footer__link__about-text-CSKH__link,
.footer__link__about-text-VeShopee__link {
    color: rgba(0, 0, 0, 0.54);
    line-height: 1.4rem;
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 1.2rem;
}
.footer__link__about-payment,
.footer__link__about-transport {
    margin-top: 1.2rem !important;
}
.footer__link__about-payment__img {
    display: block;
    width: 19rem;
    height: 11rem;
    margin-bottom: 2rem;
}
.footer__link__about-transport__img {
    display: block;
    width: 19rem;
    height: 14.8rem;
    margin-bottom: 2rem;
}
.footer__link__about-social__link {
    width: 8rem;
    margin-bottom: 1.2rem;
    font-size: 1.2rem;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.54);
    display: flex;
    align-items: center;
}
.footer__link__about-social__icon {
    display: block;
    width: 2.2rem;
    height: 2.2rem;
    margin-right: 0.6rem;
}
.footer__link__about-download {
    height: 8.6rem;
}
.footer__link__about-download__link {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
}
.footer__link__about-download__qr {
    margin-right: 1.5rem;
    border: 1px solid rgba(0, 0, 0, 0.09);
}
.footer__link__about-download__another-apps {
    height: 100%;
    width: 8rem;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
}
.footer__link__about-download__another-apps > img {
    display: block;
    width: 100%;
}
.footer__link__copyright {
    height: 9.8rem;
    padding: 4rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.footer__link__copyright__text {
    color: rgba(0, 0, 0, 0.54);
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.8rem;
}
.footer__link__copyright__country-and-area {
    display: flex;
    justify-content: space-between;
}
.footer__link__copyright__country-and-area__text {
    color: rgba(0, 0, 0, 0.54);
    line-height: 1.8rem;
    font-size: 1.4rem;
    font-weight: 400;
}
.footer__link__copyright__country-and-area__link {
    color: rgba(0, 0, 0, 0.54);
    font-weight: 400;
    padding: 0 0.5rem;
    line-height: 1.8rem;
    font-size: 1.4rem;
}
.footer__link__about-text-CSKH__link:hover,
.footer__link__about-text-VeShopee__link:hover,
.footer__link__copyright__country-and-area__link:hover,
.footer__link__about-social__link:hover {
    color: rgb(238, 77, 45);
}
.footer__link__copyright__country-and-area__link:not(:last-child) {
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}
