.today-suggestion {
  height: 254rem;
  width: 120rem;
  margin: 2rem auto 0;
}
.today-suggestion__heading {
  width: 100%;
  height: 6rem;
  background-color: #fff;
  box-shadow: 0 1px 1px 0 rgb(0 0 0 / 5%);
  position: -webkit-sticky;
  position: sticky;
  top: 11.95rem;
  z-index: 10;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}
.today-suggestion__heading-tab-main {
  width: 21.6rem;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.today-suggestion__heading-tab-main > span {
  display: block;
  color: #ee4d2d;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.92rem;
}
.today-suggestion__heading-tab-super-sale-8-8 {
  width: 25.2rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.today-suggestion__heading-tab-super-sale-8-8 > img {
  display: block;
  width: 16rem;
  height: 2rem;
}
.today-suggestion__heading-tab--active {
  border-bottom: 4px solid #ee4d2d;
}
.today-suggestion__heading-tab-main:hover,
.today-suggestion__heading-tab-super-sale-8-8:hover {
  cursor: pointer;
}

.today-suggestion__main {
  position: relative;
}

/* part1 */
.today-suggestion__main__tab-main {
  display: block;
  margin-top: 6px;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: stretch;
}

/* part2 */
.today-suggestion__main__tab-super-sale-8-8 {
  display: none;
  margin-top: 6px;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: stretch;
}

/* common of two parts */
.today-suggestion__main-list {
  height: 29.8rem;
  margin-top: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.today-suggestion__main-item {
  display: block;
  width: 19rem;
  height: 29.8rem;
  margin: 0 5px;
  position: relative;
  z-index: 1;
}
.today-suggestion__main-item:hover {
  transform: translateY(-2px);
  -webkit-transform: translateY(-2px);
  z-index: 2;
}
.today-suggestion__main-product {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 1px;
  background-color: #fff;
  box-shadow: 0 0.0625rem 0.125rem 0 rgb(0 0 0 / 10%);
  border-radius: 4px;
  overflow: hidden;
}
.today-suggestion__main-item:hover .today-suggestion__main-product {
  border: 1px solid #ee4d2d;
  padding: 0;
}
.today-suggestion__main-product > div:first-child {
  width: 100%;
}
.today-suggestion__main-product__product-img {
  display: block;
  width: 18.8rem;
  height: 18.8rem;
}
.today-suggestion__main-product__frame-img {
  display: block;
  width: 18.8rem;
  height: 18.8rem;
  position: absolute;
  top: 1px;
  left: 1px;
}

.today-suggestion__main-product__part {
  width: 100%;
  padding: 1rem;
}
.today-suggestion__main-product__name {
  color: rgba(0, 0, 0, 0.8);
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  text-align: left;
  font-size: 1.2rem;
  line-height: 1.4rem;
}
.today-suggestion__main-product__sale-off {
  max-width: 6.8rem;
  height: 1.6rem;
  margin-top: 0.5rem;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
.today-suggestion__main-product__sale-off__text {
  display: block;
  height: 1.6rem;
  width: calc(100% - 0.8rem);
  margin: 0 auto;
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.6rem;
  background-color: rgb(246, 145, 19);
}
.today-suggestion__main-product__sale-off__left-serrated {
  display: block;
  width: 0.4rem;
  height: 1.6rem;
  position: absolute;
  top: 0;
  left: 0.4px;
}
.today-suggestion__main-product__sale-off__right-serrated {
  display: block;
  width: 0.4rem;
  height: 1.6rem;
  position: absolute;
  top: 0;
  right: 0.4px;
}
.today-suggestion__main-product__price-and-selled-quantity {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.5rem;
}
.today-suggestion__main-product__price {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: #ee4d2d;
}
.today-suggestion__main-product__selled-quantity {
  color: rgba(0, 0, 0, 0.54);
  font-size: 1.2rem;
  line-height: 2.4rem;
}

.today-suggestion__main-product__hover-label {
  display: none;
  width: 100%;
  height: 3.2rem;
  color: #fff;
  background-color: #ee4d2d;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 3rem;
  text-align: center;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  position: absolute;
  top: calc(100% - 1.4rem);
  left: 0;
  z-index: 2;
}
.today-suggestion__main-item:hover
  .today-suggestion__main-product__hover-label {
  display: block;
  transform: translateY(-2px);
  -webkit-transform: translateY(-2px);
}

.today-suggestion__main-product__favourite-label {
  height: 1.6rem;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  position: absolute;
  top: 1rem;
  left: -2px;
}

.today-suggestion__main-product__favourite-label--yeuthich {
  width: 5.88rem;
  background-color: rgb(242, 82, 32);
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.6rem;
  color: #fff;
}
.today-suggestion__main-product__favourite-label--yeuthich::before {
  content: "";
  border-top: 3px solid rgb(242, 82, 32);
  border-left: 3px solid transparent;
  -webkit-filter: brightness(60%);
  filter: brightness(60%); /* giảm độ sáng của màu hiện tại */
  position: absolute;
  top: 100%;
  left: 0;
}

.today-suggestion__main-product__favourite-label--yeuthichplus {
  width: 6.3rem;
  background-color: rgb(242, 82, 32);
  display: flex;
  align-items: center;
  justify-content: center;
}
.today-suggestion__main-product__favourite-label--yeuthichplus::before {
  content: "";
  border-top: 3px solid rgb(242, 82, 32);
  border-left: 3px solid transparent;
  -webkit-filter: brightness(60%);
  filter: brightness(60%);
  position: absolute;
  top: 100%;
  left: 0;
}
.today-suggestion__main-product__favourite-label--yeuthichplus__img {
  display: block;
  width: 5.5rem;
  height: 1.2rem;
}

.today-suggestion__main-product__favourite-label--mall {
  width: 2.8rem;
  background-color: rgb(208, 1, 27);
  display: flex;
  align-items: center;
  justify-content: center;
}
.today-suggestion__main-product__favourite-label--mall::before {
  content: "";
  border-top: 3px solid rgb(208, 1, 27);
  border-left: 3px solid transparent;
  -webkit-filter: brightness(60%);
  filter: brightness(60%);
  position: absolute;
  top: 100%;
  left: 0;
}
.today-suggestion__main-product__favourite-label--mall__img {
  display: block;
  width: 2rem;
  height: 0.8rem;
}

.today-suggestion__main-product__sale-off-label {
  width: 3.6rem;
  height: 3.2rem;
  padding: 0.4rem 0 0.3rem 0;
  background-color: rgba(255, 212, 36, 0.9);
  position: absolute;
  right: 1px;
  top: 1px;
  border-top-right-radius: 1px;
}
.today-suggestion__main-product__sale-off-label::after {
  content: "";
  border-width: 0 1.8rem 0.4rem;
  border-style: solid;
  border-color: transparent rgba(255, 212, 36, 0.9) transparent
    rgba(255, 212, 36, 0.9);
  position: absolute;
  left: 0;
  top: 100%;
}
.today-suggestion__main-product__sale-off-label__percent {
  display: block;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.3rem;
  color: #ee4d2d;
  margin-bottom: 0.2rem;
}
.today-suggestion__main-product__sale-off-label__text {
  display: block;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.3rem;
  color: #fff;
  text-transform: uppercase;
}
.today-suggestion__main-product__sponsor-label {
  width: 4.65rem;
  height: 1.8rem;
  padding: 0.2rem 0.4rem;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.44rem;
  border-radius: 2px;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 16rem;
  right: 1rem;
}

/* view all button */
.today-suggestion__main__view-all-btn {
  display: block;
  width: 39rem;
  height: 4rem;
  margin: 1.6rem auto 0;
  text-align: center;
  font-size: 1.4rem;
  line-height: 4rem;
  background-color: #fff;
  color: #555;
  border: 1px solid rgba(0, 0, 0, 0.09);
  box-shadow: 0 1px 1px 0 rgb(0 0 0 / 3%);
}
.today-suggestion__main__view-all-btn:hover {
  background-color: rgba(0, 0, 0, 0.02);
}
