.search-trending {
    height: 16.1rem;
    width: 1200px;
    margin: 2rem auto 0;
}

.search-trending__heading {
    height: 6rem;
    padding: 0 2rem;
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1px;
}

.search-trending__heading__title {
    font-size: 1.6rem;
    color: #868686;
    width: 16.5rem;
    height: 1.8rem;
    line-height: 1.8rem;
    font-weight: 400;
}

.search-trending__heading__view-more-btn {
    font-size: 1.4rem;
    color: #ee4d2d;
    width: 10rem;
    height: 2.4rem;
    padding: 0.5rem 0.7rem;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.search-trending__heading__view-more-btn:hover {
    opacity: 0.8;
}

.search-trending__heading__view-more-btn__svg {
    display: block;
    height: 1.4rem;
    width: 1.4rem;
    margin-right: 4px;
    fill: currentColor;
}

.search-trending__main {
    height: 10rem;
    margin-top: 1px;
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.search-trending__main__list {
    height: 100%;
    width: 100%;
    display: flex;
}

.search-trending__main__list:nth-child(2),
.search-trending__main__list:nth-child(3) {
    display: none;
}

.search-trending__main__item {
    display: flex;
    justify-content: space-between;
    width: 20%;
    height: 100%;
    padding-right: 1rem;
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 5%);
    border-right: 1px solid rgba(0, 0, 0, 0.05);
}

.search-trending__main__item:hover {
    transform: translateY(-1px);
    border-color: rgba(0, 0, 0, 0.12);
    box-shadow: 0 0 0.8125rem 0 rgb(0 0 0 / 5%);
}

.search-trending__main__text {
    padding: 2rem 1rem 4.3rem 2rem;
}

.search-trending__main__text__name {
    display: block;
    text-align: left;
    width: 10rem;
    height: 1.6rem;
    line-height: 1.6rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: #222;
    font-size: 1.4rem;
}

.search-trending__main__text__description {
    display: block;
    text-align: left;
    width: 10rem;
    height: 1.6rem;
    line-height: 1.6rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: #757575;
    margin-top: 5px;
    font-size: 1.3rem;
}

.search-trending__img {
    display: block;
    width: 10rem;
    height: 10rem;
}
